:root {
  --color-white: #fff;
  --color-primary: #c29525;
  --color-grey-5: #555;
  --color-grey-7: #777;
  --font-balooDa2: 'Baloo Da 2', serif;
  --font-josefinSlab: 'Josefin Slab', serif;
  --font-mulish: 'Mulish', sans-serif;
  --shadow: 0 .3rem .5rem rgba(0,0,0,.4);
  --menu-shadow: 0 .1rem .2rem rgba(0,0,0,.2); }

@keyframes scale {
  0% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes moveBanner {
  0% {
    transform: translateY(40rem) rotateY(-20deg); }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none; }

html {
  font-size: 62.5%; }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .header__image-box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden; }
  .header__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
    animation: scale 25s; }
  .header .banner {
    position: absolute;
    top: 30%;
    left: 15%;
    perspective: 100rem; }
    .header .banner__heading {
      font-family: var(--font-balooDa2);
      font-weight: 300;
      font-size: 8rem;
      color: var(--color-white);
      width: 50%;
      line-height: 9rem;
      letter-spacing: .2rem;
      text-shadow: var(--shadow);
      opacity: 0;
      animation: moveBanner 1s .5s forwards; }
    .header .banner__text {
      font-family: var(--font-josefinSlab);
      font-size: 4rem;
      color: var(--color-white);
      width: 70%;
      letter-spacing: .1rem;
      margin-bottom: 3rem;
      text-shadow: var(--shadow);
      opacity: 0;
      animation: moveBanner 1s .7s forwards; }
    .header .banner__button {
      width: 25rem;
      height: 7rem;
      background-color: var(--color-primary);
      border: none;
      font-family: var(--font-mulish);
      font-size: 2rem;
      text-transform: uppercase;
      cursor: pointer;
      color: var(--color-white);
      text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
      box-shadow: var(--shadow);
      opacity: 0;
      animation: moveBanner 1s .9s forwards; }

.sidebar {
  width: 40rem;
  height: 100vh;
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  right: -40rem;
  transition: right .5s; }

.change .sidebar {
  right: 0; }

.hamburger {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: all .7s; }
  .hamburger__line {
    width: 100%;
    height: .2rem;
    background-color: var(--color-white);
    box-shadow: var(--menu-shadow);
    transition: background-color .3s ease-in-out; }
  .hamburger span {
    position: absolute;
    left: 5rem;
    width: 10rem;
    height: 4rem;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-family: var(--font-balooDa2);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    opacity: 0;
    visibility: hidden;
    transition: all .4s; }
    .hamburger span::before {
      content: '';
      position: absolute;
      border-right: 1rem solid var(--color-primary);
      border-left: 1rem solid transparent;
      border-top: 1rem solid transparent;
      border-bottom: 1rem solid transparent;
      left: -2rem;
      top: 50%;
      transform: translateY(-50%); }

.change .hamburger {
  right: 33rem; }

.change .hamburger__line {
  background-color: rgba(0, 0, 0, 0.8); }
  .change .hamburger__line--1 {
    transform: rotate(45deg) translate(0.3rem, 0.8rem); }
  .change .hamburger__line--2 {
    opacity: 0;
    visibility: hidden; }
  .change .hamburger__line--3 {
    transform: rotate(-45deg) translate(0.3rem, -0.8rem); }

.change .hamburger:hover span {
  opacity: 1;
  visibility: visible; }

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .menu__item {
    text-align: center; }
  .menu__link {
    font-family: var(--font-balooDa2);
    font-size: 4rem;
    color: var(--color-dark-5);
    position: relative; }
    .menu__link::before {
      content: attr(data-content);
      position: absolute;
      top: 0;
      left: 0;
      color: var(--color-primary);
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      transition: width .3s ease-in-out; }
    .menu__link:hover::before {
      width: 100%; }

.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center; }
  .social-media i {
    font-size: 2.2rem;
    margin: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--color-grey-7);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .3s; }
    .social-media i:hover {
      background-color: var(--color-primary); }
