:root {
    --color-white: #fff;
    --color-primary: #c29525;
    --color-grey-5: #555;
    --color-grey-7: #777;

    --font-balooDa2: 'Baloo Da 2', serif;
    --font-josefinSlab: 'Josefin Slab', serif;
    --font-mulish: 'Mulish', sans-serif;
    --shadow: 0 .3rem .5rem rgba(0,0,0,.4);
    --menu-shadow: 0 .1rem .2rem rgba(0,0,0,.2);
}