.card {
	width: 37rem;
	height: 45rem;
	box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
	border-radius: 0.5rem;
	position: relative;

	@include respond(laptop) {
		width: 34rem;
	}

	@include respond(miniLaptop) {
		margin-bottom: 8rem;
	}

	&:hover &__image-box img {
		opacity: 0.5;
	}

	&__image-box {
		width: 100%;
		height: 100%;
		background-color: #262626;
		border-radius: 0.5rem;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 0.5rem;
			opacity: 0.8;
			transition: opacity 0.3s;
		}
	}

	&:hover &-info {
		bottom: 2rem;
		opacity: 1;
		visibility: visible;
	}

	&-info {
		position: absolute;
		bottom: 0rem;
		padding: 2rem;
		text-shadow: var(--shadow);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;

		&__name {
			font-family: var(--font-balooDa2);
			font-size: 2.5rem;
			line-height: 2.5rem;
			font-weight: 300;
			color: #eee;
		}

		&__position {
			font-family: var(--font-mulish);
			font-size: 2rem;
			font-size: 500;
			color: #a52a2a;
			margin-bottom: 1rem;
		}

		&__text {
			font-family: var(--font-balooDa2);
			font-size: 1.4rem;
			line-height: 1.6rem;
			font-weight: 300;
			color: #eee;
			width: 80%;
			margin-bottom: 2rem;
		}

		&__button {
			width: 10rem;
			height: 3rem;
			background-color: var(--color-primary);
			border: none;
			font-family: var(--font-balooDa2);
			font-size: 1.4rem;
			line-height: 1.5rem;
			color: #eee;
			border-radius: 0.3rem;
			box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
		}
	}
}
