@keyframes scale {
	0% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes moveBanner {
	0% {
		transform: translateY(40rem) rotateY(-20deg);
	}

	100% {
		transform: translateY(0) rotateY(0);
		opacity: 1;
	}
}

@keyframes circles {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes displayCircles {
	0% {
		opacity: 0;
		visibility: hidden;
	}

	25% {
		opacity: 1;
		visibility: visible;
	}

	90% {
		opacity: 1;
		visibility: visible;
	}

	100% {
		opacity: 0;
		visibility: hidden;
	}
}
