.header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &__image-box {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.8);
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .5;
        animation: scale 25s;
    }


    & .banner {
        position: absolute;
        top: 30%;
        left: 15%;
        perspective: 100rem;

        &__heading {
            font-family: var(--font-balooDa2);
            font-weight: 300;
            font-size: 8rem;
            color: var(--color-white);
            width: 50%;
            line-height: 9rem;
            letter-spacing: .2rem;
            text-shadow: var(--shadow);
            opacity: 0;
            animation: moveBanner 1s .5s forwards;
        }

        &__text {
            font-family: var(--font-josefinSlab);
            font-size: 4rem;
            color: var(--color-white);
            width: 70%;
            letter-spacing: .1rem;
            margin-bottom: 3rem;
            text-shadow: var(--shadow);
            opacity: 0;
            animation: moveBanner 1s .7s forwards;
        }

        &__button {
            width: 25rem;
            height: 7rem;
            background-color: var(--color-primary);
            border: none;
            font-family: var(--font-mulish);
            font-size: 2rem;
            text-transform: uppercase;
            cursor: pointer;
            color: var(--color-white);
            text-shadow: 0 .2rem .4rem rgba(0, 0, 0, .2);
            box-shadow: var(--shadow);
            opacity: 0;
            animation: moveBanner 1s .9s forwards;
        }
    }
}