.sidebar {
	width: 40rem;
	height: 100vh;
	background-color: var(--color-white);
	position: fixed;
	top: 0;
	right: -40rem;
	transition: right 0.5s;
	z-index: 12;

	@include respond(phone) {
		width: 100%;
		right: -100%;
	}
}

.change .sidebar {
	right: 0;
}
